*{
	padding: 0;
	margin: 0;
}
.bg{
	width: 100vw;
	height: 100vh;
	background: url(../images/bg.png) no-repeat center;
	background-size: cover;
	position: fixed;
	top: 0;
	z-index: -1;
}
.container-box{
	width: 1568px;
	margin: 0 auto;
	margin-top: 65px;
}
.header img{
	width: 380px;
}
.authList{
	width: 1568px;
	height: 773px;
	background: #F5F6FA;
	border-radius: 12px;
	box-shadow:0px 30px 50px 0px rgba(102,111,133,0.2);
	margin-top: 30px;
	display: flex;
}
.authListLeft{
	width: 441px;
}
.authListLeft img{
	width: 100%;
}
.authListRight{
	width: 1127px;
	box-sizing: border-box;
	padding: 60px 58px 60px 58px;
}
.newAuth h2,.oldAuth h2{
	font-size: 24px;
	color: #333;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 19px;
}
.newAuth ul li,.oldAuth ul li{
	width: 175px;
	height: 56px;
	background: #fff;
	box-shadow:0px 3px 10px 0px rgba(224,224,225,0.5);
	float: left;
	margin-bottom: 30px;
	line-height: 56px;
	display: flex;
	margin-right: 34px;
	color: #3C465D;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
}
.newAuth ul li::before,.oldAuth ul li::before{
	content: '';
	width: 5px;
	height: 56px;
	background: #AC4A3E;
	display: inline-block;
	margin-right: 20px;
}
.newAuth ul li:nth-of-type(5n),.oldAuth ul li:nth-of-type(5n){
	margin-right: 0;
}
.newAuth ul li:nth-of-type(5n+2)::before,.oldAuth ul li:nth-of-type(5n+2)::before{
	background: #5E7D60;
}
.newAuth ul li:nth-of-type(5n+3)::before,.oldAuth ul li:nth-of-type(5n+3)::before{
	background: #9CB56D;
}
.newAuth ul li:nth-of-type(5n+4)::before,.oldAuth ul li:nth-of-type(5n+4)::before{
	background: #7EB7F9;
}
.newAuth ul li:nth-of-type(5n+5)::before,.oldAuth ul li:nth-of-type(5n+5)::before{
	background: #0E92A9;
}
.oldAuth{
	margin-top: 89px;
}
.footer{
	color: #3C465D;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	padding-top: 89px;
	padding-bottom: 40px;
	text-align: center;
}
.footer span{
	padding-right: 10px;
}
.footer span:first-child{
	padding-right: 2px;
}
@media screen and (max-width:1600px) {
	.container-box{
		width: 1254.4px;
		margin-top: 52px;
	}
	.header img{
		width: 304px;
	}
	.authList{
		width: 1254.4px;
		height: 618.4px;
		border-radius: 9.6px;
		box-shadow:0px 24px 40px 0px rgba(102,111,133,0.2);
		margin-top: 24px;
	}
	.authListLeft{
		width: 352.8px;
	}
	.authListRight{
		width: 901.6px;
		padding: 48px 18.4px 48px 46.4px;
	}
	.newAuth h2,.oldAuth h2{
		font-size: 19.2px;
		line-height: 24px;
		margin-bottom: 15.2px;
	}
	.newAuth ul li,.oldAuth ul li{
		width: 140px;
		height: 44.8px;
		margin-bottom: 24px;
		line-height: 44.8px;
		margin-right: 27.2px;
		font-size: 14.4px;
	}
	.newAuth ul li::before,.oldAuth ul li::before{
		content: '';
		width: 4px;
		height: 44.8px;
		margin-right: 16px;
	}
	.oldAuth{
		margin-top: 10px;
	}
	.footer{
		font-size: 11.2px;
		line-height: 24px;
		padding-top: 71.2px;
		padding-bottom: 32px;
	}
}
@media screen and (max-width:1366px) {
	.container-box{
		width: 1097.6px;
		margin-top: 45.5px;
	}
	.header img{
		width: 266px;
	}
	.authList{
		width: 1097.6px;
		height: 541.1px;
		border-radius: 8.4px;
		box-shadow:0px 21px 35px 0px rgba(102,111,133,0.2);
		margin-top: 21px;
	}
	.authListLeft{
		width: 308.7px;
	}
	.authListRight{
		width: 788.9px;
		padding: 42px 18.6px 42px 40.6px;
	}
	.newAuth h2,.oldAuth h2{
		font-size: 16.8px;
		line-height: 21px;
		margin-bottom: 13.3px;
	}
	.newAuth ul li,.oldAuth ul li{
		width: 122.5px;
		height: 39.2px;
		margin-bottom: 21px;
		line-height: 39.2px;
		margin-right: 23.8px;
		font-size: 12.6px;
	}
	.newAuth ul li::before,.oldAuth ul li::before{
		width: 3.5px;
		height: 39.2px;
		margin-right: 14px;
	}
	.oldAuth{
		margin-top: 10px;
	}
	.footer{
		font-size: 9.8px;
		line-height: 21px;
		padding-top: 62.3px;
		padding-bottom: 28px;
	}
}
::-webkit-scrollbar {
	display: none;
}